[Unit]
Description=Telegram Bot for thepaper
After=network.target

[Service]
ExecStart=/thepaper_bot/.venv/bin/uwsgi --ini /thepaper_bot/uwsgi.ini
ExecReload=/thepaper_bot/.venv/bin/uwsgi --reload /thepaper_bot/thepaper.pid
ExecStop=/thepaper_bot/.venv/bin/uwsgi --stop /thepaper_bot/thepaper.pid
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target

